
<div id="menu">
    <h2>About Me</h2>
    <ul class='submenu'>
        <li class='submenu-item'><a href="/resume" title="My CV">Curriculum Vitae</a></li>
        <li class='submenu-item'><a href="/publications" title="My Papers">Publications</a></li>
        <li class='submenu-item'><a href="/talks" title="Slides from talks">Talks</a></li>
        <li class='submenu-item'><a href="http://metarabbit.wordpress.com/" title="Metarabbit">My Blog</a></li>
        <li class='submenu-item'><a href="/biography" title="Short Biography">Biography</a></li>
        <li class='submenu-item'><a href="/erdos-bacon" title="My Erdös Bacon Number">Erdös-Bacon</a></li>
    </ul>
    <h2>Projects</h2>
    <ul class='submenu'>
        <li class='submenu-item'><a href="/projects/gen-classification" title="Generalization of Subcellular Location">Generalization of Subcellular Location</a></li>
        <li class='submenu-item'><a href="/projects/datasets" title="Publicly available datasets">Datasets</a></li>
        <li class='submenu-item'><a href="/projects/pfs" title="A course for scientists who write code">Programming for Scientists</a></li>
        <li class='submenu-item'><a href="/projects/slif" title="Structured Literature Image Finder">SLIF</a></li>
        <li class='submenu-item'><a href="/projects/" title="All projects">All Projects</a></li>
    </ul>
    <h2>Software</h2>
    <ul class='submenu'>
        <li class='submenu-item'><a href="/software/mahotas" title="Image processing with Python">Mahotas</a></li>
        <li class='submenu-item'><a href="/software/imread" title="Loading images in Python">Mahotas-imread</a></li>
        <li class='submenu-item'><a href="/software/jug" title="Task based parallelization framework for Python">Jug</a></li>
    </ul>
    <h2>Other Stuff</h2>
    <ul class='submenu'>
        <li class='submenu-item'><a href="/faq" title="Frequently Asked Questions">FAQ</a></li>
        <li class='submenu-item'><a href="/derivations" title="Some useful derivations">Derivations</a></li>
        <li class='submenu-item'><a href="/fimdetarde" title="Award-winning short story (in Portuguese)">Fim de Tarde</a></li>
        <li class='submenu-item'><a href="http://beiraproject.org/" title="Volunteering in Mozambique">Beira Project</a></li>
        <li class='submenu-item'><a href="http://twitter.com/luispedrocoelho" title="@luispedrocoelho (twitter)">Follow me on twitter</a></li>
    </ul>
</div>


<div class="spacer">&nbsp;</div>

<footer class="footer">
    Copyright (c) 2009-2015. Luis Pedro Coelho. All rights reserved.<br />
    Website Graphical Design by : <a href="http://ramblingsoul.com">Rambling Soul</a>| <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0</a> | CSS</p>
</footer>

<!-- Start google analytics -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-11809251-1");
    pageTracker._trackPageview();
} catch(err) {
    /* pass */
}
</script>
<!-- End google analytics -->
