<header>
    <nav id="header">
        <ul id='navigation'>
            <li><a href="/">Home</a></li>
            <li><a href="http://metarabbit.wordpress.com/">Blog</a></li>
            <li><a href="/biography">Biography</a></li>
            <li><a href="/publications">Papers</a></li>
            <li><a href="/talks">Talks</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/software">Software</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div id="header2">
        <div class="logo">luispedro.org</div>
        <div class="banner"><span>computational biology &amp;c</span></div>
    </div>


</header>
